{% extends 'base.html.twig' %}


{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.minSurface)}}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice)}}
                </div>
                <div class="col">
                    {{ form_row(form.nbrBedrooms)}}
                </div>
                <div class="col">
                    {{ form_row(form.nbrRooms)}}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rechercher</button>
                </div>  
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
    {% for property in properties %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property_show', {
                                    id: property.id, 
                                    slug: property.slug
                                    }) 
                                }}">
                            {{ property.title }}
                        </a>
                    </h5>
                    <p class="card-text">
                        {{ property.surface }}m² - {{ property.city}} ({{ property.postalCode }})
                    </p>
                    <div class="text-primary">
                        {{ property.price | number_format(0, '', ' ') }} €
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(properties) }}
    </div>
</div>
{% endblock %}
