{% extends 'base.html.twig' %}

{% block title %}Options index{% endblock %}

{% block body %}

<div class="container col-6 mt-4">
    <h1>Options index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('options_show', {'id': option.id}) }}">Voir</a>
                    <a class="btn btn-danger" href="{{ path('options_edit', {'id': option.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center">
        <a class="btn btn-success" href="{{ path('options_new') }}">Créer une nouvelle option
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
</div>
{% endblock %}
