{% extends 'base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}
<div class="container col-6 mt-4">
    <h1>Options</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
                
            </tr>
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td>
                    <div class="row">
                        <a class="btn btn-primary" href="{{ path('options_edit', {'id': option.id}) }}">Edit</a>
                        <div class="ml-4">
                        {{ include('options/_delete_form.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div align="center">
        <a class="btn btn-secondary" href="{{ path('options_index') }}">Back to options list</a>
    </div>
</div>
{% endblock %}
